*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaiter {
    width: 1280px;
    margin: 0 auto;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
li{ 
    display: inline-block;
}
li a{
    text-decoration: none;
    margin: 0 15px;
font-family: 'roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #5D5D5D;

}
.xacthuc{
    align-items: center;
    display: flex;
    
}
#signin{
    margin:0  10px;
    background-color:white;
    border: 1px solid #F54748;
    border-radius: 5px;
    width: 84px;
height: 42px;
color: #5D5D5D;
font-family: 'roboto';
font-style: normal;
font-weight: bold;

}
#signin a{
    text-decoration: none;
}
#signin:hover{
    background-color: #F54748;
    color: white;
}
#signup{
    background-color:white;
    border: 1px solid #F54748;
    border-radius: 5px;
    width: 84px;
height: 42px;
color: #5D5D5D;

font-family: 'roboto';
font-style: normal;
font-weight: bold;

}
#signup a{
    text-decoration: none;
}
#signup:hover{
    background-color: #F54748;
    color: white;
}
.body{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 32px;
margin-top: 50px;
margin-bottom: 50px;
}
body h1{
    width: 620px;
height: 96px;

font-family: 'roboto';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;

color: #111928;
}
.a{
    width: 79px;
height: 48px;
left: 320px;
top: 325px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

color: #F54748;

}
body p {
    padding-top: 70px;
    
    width: 620px;
height: 88px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #111928;

}
.timkiem{
    margin-top: 100px;
}
body .timkiem input { 
    width: 180px;
height: 38px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;


}
.timkiem button{
    width: 110px;
height: 42px;



background: #111928;
border-radius: 5px;
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
margin: 0 15px;


}
body .nd1 img {
    width: 100%;
}
.body1 .sp{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 32px;
    margin: 20px;

}
.body1 h3{
    margin-top: 10px;
    width: 399px;
height: 32px;


font-family: 'roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */


color: #111928;

}
h2{
    margin-top: 10px;
    width: 40px;
height: 24px;


font-family: 'roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #F54748;
}
.add button{
    margin-top: 10px;
    width: 400px;
height: 42px;

background: #111928;
border-radius: 6px;


font-family: 'roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;


}
main{
    margin-bottom: 100px;
}
.footer{
    margin-top: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media(min-width:700px) and (max-width:1024px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contaiter {
        width: 100%;
        margin: 0 auto;
    
    }
    header{
        
        margin-top: 10px;
        margin-bottom: 20px;
    }
    li{ 
        display: inline-block;
    }
    li a{
        text-decoration: none;
       
    font-family: 'roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    
    color: #5D5D5D;
    
    }
    .xacthuc{
        align-items: center;
        display: flex;
        
    }
    #signin{
        margin:0  10px;
        background-color:white;
        border: 1px solid #F54748;
        border-radius: 5px;
        width: 50px;
    height: 42px;
    color: #5D5D5D;
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    
    }
    #signin a{
        text-decoration: none;
    }
    #signin:hover{
        background-color: #F54748;
        color: white;
    }
    #signup{
        background-color:white;
        border: 1px solid #F54748;
        border-radius: 5px;
        width: 50px;
    height: 42px;
    color: #5D5D5D;
    
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    
    }
    #signup a{
        text-decoration: none;
    }
    #signup:hover{
        background-color: #F54748;
        color: white;
    }
    .body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    body h1{
        width: 200px;
    height: auto;
    
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 48px;
    
    color: #111928;
    }
    .a{
        width: 39px;
    height: auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    
    color: #F54748;
    
    }
    body p {
        padding-top: 70px;
        
        width: 350px;
    height: auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    
    color: #111928;
    
    }
    .timkiem{
        margin-top: 50px;
    }
    body .timkiem input { 
        width: 200px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    
    }
    .timkiem button{
        width: 100px;
    height: auto;
    
    
    
    background: #111928;
    border-radius: 5px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin: 0 15px;
    
    
    }
    body .nd1 img {
        width: 100%;
    }
    .body1 .sp{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 32px;
        margin: 20px;
    
    }
    .body1 h3{
        margin-top: 10px;
        width: 200px;
    height: auto;
    
    
    font-family: 'roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    
    
    color: #111928;
    
    }
    .sp1 img{
        width: 100%;
    }
    h2{
        margin-top: 10px;
        width: 40px;
    height: 24px;
    
    
    font-family: 'roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #F54748;
    }
    .add button{
        margin-top: 10px;
        width: 250px;
    height: auto;
    
    background: #111928;
    border-radius: 6px;
    
    
    font-family: 'roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    
    }
    main{
        margin-bottom: 100px;
    }
    .footer{
        margin-top: 100px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
}