*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaiter{
    width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.menu ul li {
    display: inline-block;
}
.imgmobile {
    display: none;

}
li a{
    text-decoration: none;
    margin: 0 15px;
}
.banner{
    width: 100%;
}
.sp1 {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 32px;

}
.banner2{
    width: 100%;
}
footer{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}
.btn{
    width: 100px;
    height: 30px;
}
button{
    width: 70px;
    height: 30px;
}
@media(max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contaiter{
        width: auto;
        margin: 0 auto;
    }
    header{
        display: flex;
        align-items: center;
       justify-content: space-between;
    }
    .menu ul li {
        display: none;
    }
    .imgmobile {
        display: block;
    }
    i{
        display: none;
    }
    li a{
        text-decoration: none;
        margin: 0 15px;
    }
    .banner img{
        width: 100%;
        height: 149px;
    }
    .sp1 {
       display: block;
    }
    .sp1 img{
        width: 100%;
        height: 149px;
    }
    .banner2 img{
        width: 100%;
        height: 149px;
    }
    footer{
        background-color: blue;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    
    }
    .btn{
        width: 100px;
        height: 30px;
    }
    button{
        width: 70px;
        height: 30px;
    }
}
@media(max-width:1024px) and (min-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contaiter{
        width: auto;
        margin: 0 auto;
    }
    header{
        display: flex;
        align-items: center;
       justify-content: space-between;
    }
    .menu ul li {
        display: inline-block;
    }
    .imgmobile {
        display: none;

    }
    li a{
        text-decoration: none;
        margin: 0 15px;
    }

    .banner img{
        width: 100%;
        height: 331px;
    }
    .sp1 {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap: 32px;
    
    }

    .banner2 img{
        width: 100%;
        height: 331px;
    }
    footer{
        background-color: blue;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    
    }
    .btn{
        width: 100px;
        height: 30px;
    }
    button{
        width: 70px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.imgmobile {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu.responsive {position: relative;}
    .menu.responsive .imgmobile {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }