* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: auto;
    text-align: center;
}

header {
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 50px 0;
}

form h3 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 20px 0;
}

form h1 {
    font-size: 32px;
    font-weight: 900;
    color: black;
    padding: 20px 0;
}
.form-login label {
    text-align: left;
}