*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 1408px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
ul li{
    display: inline-block;
    padding: 0 16px;
}
li a{
    text-decoration: none;
    color: #5D5D5D;
    font-size: 18px;
}
li:hover a{
    color: #F54748;
}
.sign-in, .sign-up{
    font-weight: bold;
    font-size: 14px;
    padding: 0 18px;
    height: 42px;
    border: none;
    background-color: #F54748;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 12px;
}
.sign-in{
    background-color: #ffffff;
    border: 1px solid #F54748;
    color: #F54748;
}

/* --------- banner --------- */

.banner{
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.banner__info>p:first-child{
    width: 160px;
    background-color: #FFEEEE;
    padding: 12px 24px;
    border-radius: 5px;
    color: #F54748;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}
.banner__info>h2{
    font-size: 72px;
    font-weight: 900;
}
.banner__info span{
    color: #F54748;
}
.banner__info>p:last-child{
    margin-top: 32px;
    font-size: 18px;
}
.banner__img{
    text-align: right;
}

/* --------- popular --------- */
.popular{
    margin-top: 96px;
}
.popular>h2{
    font-size: 48px;
    margin-bottom: 24px;
    text-align: center;
}
.popular>p{
    line-height: 28px;
    padding: 0 350px;
    text-align: center;
}
.popular #filter-select{
    width: 300px;
    height: 42px;
    border: 1px solid #878787;
    border-radius: 5px;
    padding:0 15px;
}
.popular-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 48px;
}
.popular__item h3{
    margin: 24px 0;
}
.popular__item h3>a{
    text-decoration: none;
    color: #000000;
}
.popular__item h3>a:hover{
    color: #F54748;
}
.popular__item>p{
    display: flex;
    align-items: center;
}
.popular__item>p span{
    margin:0px 10px;
}
.popular__item>img{
    /* display: block; */
    width: 100%;
}

/* --------- popular --------- */

.category .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 64px;
}
.title h2{
    font-size: 48px;
}
.view-all{
    border: 1px solid #F54748;
    color: #F54748;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 24px;
    font-size: 18px;
}
.category__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.category__item img{
    display: block;
    width: 100%;
}
.category__item p{
    font-weight: bold;
}

/* --------- contact us --------- */
.contact h2{
    font-size: 48px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 64px;
}
.contact label{
    font-size: 18px;
}
.contact input, .contact textarea, .contact select{
    display: block;
    width: 100%;
    border: 1px solid #878787;
    border-radius: 5px;
    padding-left: 20px;
}
.contact input, .contact select{
    height: 60px;
    margin-top: 12px;
}
.contact .col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.contact .row{
    margin-bottom: 24px;
}
.btn-submit{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 32px auto;
}

/* --------- footer --------- */
footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding: 32px 0;
    margin-top: 96px;
}